EXPO_PUBLIC_API_URL=http://localhost:28080

# Si pruebas en Android Emulator usa:
# EXPO_PUBLIC_API_URL=http://10.0.2.2:28080

# Si pruebas en dispositivo físico usa la IP LAN de tu PC:
# EXPO_PUBLIC_API_URL=http://192.168.X.Y:28080

