--
-- PostgreSQL database dump
--

\restrict wM0kVo3Godp6suW4NVGUpeSm0yrHJNowHzfOD12gcZDvdU9hHQxVYl5wKFIP5cu

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS fksh0gkhht4jenmvxp5io5gr1we;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS fkr67nkbovcmogr3o5xkmfepgl1;
ALTER TABLE IF EXISTS ONLY public.sale_records DROP CONSTRAINT IF EXISTS fkoxm64inlj7dqv9qt0km8qm079;
ALTER TABLE IF EXISTS ONLY public.company_settings DROP CONSTRAINT IF EXISTS fkmooaravxwx9tubb173apgo343;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fkin8gn4o1hpiwe6qe4ey7ykwq7;
ALTER TABLE IF EXISTS ONLY public.calendar_events DROP CONSTRAINT IF EXISTS fkhj1oaewpv0ejm9xmcjk1tdse;
ALTER TABLE IF EXISTS ONLY public.purchase_suggestions DROP CONSTRAINT IF EXISTS fkfs1sh8uwavevsm5hhasqjydk2;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS fket0or2pvrcs3b7994pstmgyiq;
ALTER TABLE IF EXISTS ONLY public.activity_logs DROP CONSTRAINT IF EXISTS fkb22evag9rd2sg204x5qedb4bs;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS fka8xyugvg1b1gjr07r5057pn5;
ALTER TABLE IF EXISTS ONLY public.shift_plans DROP CONSTRAINT IF EXISTS fk8ih3xp4nejkox6yoellt7r8up;
ALTER TABLE IF EXISTS ONLY public.activity_logs DROP CONSTRAINT IF EXISTS fk5wnh8r1e5ffup2wu2shpwywak;
ALTER TABLE IF EXISTS ONLY public.contacts DROP CONSTRAINT IF EXISTS fk5nvk2pja04n1pbiyk1xn7739l;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS fk4yg8cj6n459l7y3hcenmqu9sj;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS fk4jibwyyblv04ovaf0uhcg2xe4;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS fk3enb6iofyq9m6e3otajm17vel;
ALTER TABLE IF EXISTS ONLY public.document_categories DROP CONSTRAINT IF EXISTS fk29il35gjapinocv24cw9xs8lj;
DROP INDEX IF EXISTS public.idx_users_company_role;
DROP INDEX IF EXISTS public.idx_suppliers_name_lower;
DROP INDEX IF EXISTS public.idx_suppliers_company_category_active;
DROP INDEX IF EXISTS public.idx_suppliers_company_active;
DROP INDEX IF EXISTS public.idx_shift_plans_company_date;
DROP INDEX IF EXISTS public.idx_sale_records_company_date;
DROP INDEX IF EXISTS public.idx_purchase_suggestions_company_date;
DROP INDEX IF EXISTS public.idx_products_name_lower;
DROP INDEX IF EXISTS public.idx_products_company_name;
DROP INDEX IF EXISTS public.idx_products_company_id;
DROP INDEX IF EXISTS public.idx_notifications_company_unread;
DROP INDEX IF EXISTS public.idx_notifications_company_created;
DROP INDEX IF EXISTS public.idx_incidents_title_lower;
DROP INDEX IF EXISTS public.idx_incidents_company_status_created_at;
DROP INDEX IF EXISTS public.idx_incidents_company_created_at;
DROP INDEX IF EXISTS public.idx_contacts_company_created_at;
DROP INDEX IF EXISTS public.idx_contacts_company_active;
DROP INDEX IF EXISTS public.idx_company_settings_company_group_active;
DROP INDEX IF EXISTS public.idx_company_settings_company_active;
DROP INDEX IF EXISTS public.idx_calendar_events_company_date;
DROP INDEX IF EXISTS public.idx_calendar_events_company_created_at;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.schema_version DROP CONSTRAINT IF EXISTS ukrd59ove3mplwids8njm5f17be;
ALTER TABLE IF EXISTS ONLY public.document_categories DROP CONSTRAINT IF EXISTS ukery0exkt8cgp83ldywdp8ebw2;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS uk6dotkott2kjsp8vw4d0m25fb7;
ALTER TABLE IF EXISTS ONLY public.company_settings DROP CONSTRAINT IF EXISTS uk21h2kjvisxxbkpk5bjy396xoo;
ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS suppliers_pkey;
ALTER TABLE IF EXISTS public.suppliers DROP CONSTRAINT IF EXISTS suppliers_name_not_blank_chk;
ALTER TABLE IF EXISTS ONLY public.shift_plans DROP CONSTRAINT IF EXISTS shift_plans_pkey;
ALTER TABLE IF EXISTS ONLY public.schema_version DROP CONSTRAINT IF EXISTS schema_version_pkey;
ALTER TABLE IF EXISTS ONLY public.sale_records DROP CONSTRAINT IF EXISTS sale_records_pkey;
ALTER TABLE IF EXISTS ONLY public.purchase_suggestions DROP CONSTRAINT IF EXISTS purchase_suggestions_pkey;
ALTER TABLE IF EXISTS public.products DROP CONSTRAINT IF EXISTS products_vat_rate_range_chk;
ALTER TABLE IF EXISTS ONLY public.products DROP CONSTRAINT IF EXISTS products_pkey;
ALTER TABLE IF EXISTS public.products DROP CONSTRAINT IF EXISTS products_name_not_blank_chk;
ALTER TABLE IF EXISTS public.products DROP CONSTRAINT IF EXISTS products_min_stock_non_negative_chk;
ALTER TABLE IF EXISTS public.products DROP CONSTRAINT IF EXISTS products_current_stock_non_negative_chk;
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS notifications_pkey;
ALTER TABLE IF EXISTS public.incidents DROP CONSTRAINT IF EXISTS incidents_title_not_blank_chk;
ALTER TABLE IF EXISTS ONLY public.incidents DROP CONSTRAINT IF EXISTS incidents_pkey;
ALTER TABLE IF EXISTS ONLY public.documents DROP CONSTRAINT IF EXISTS documents_pkey;
ALTER TABLE IF EXISTS ONLY public.document_categories DROP CONSTRAINT IF EXISTS document_categories_pkey;
ALTER TABLE IF EXISTS ONLY public.contacts DROP CONSTRAINT IF EXISTS contacts_pkey;
ALTER TABLE IF EXISTS public.company_settings DROP CONSTRAINT IF EXISTS company_settings_value_not_blank_chk;
ALTER TABLE IF EXISTS ONLY public.company_settings DROP CONSTRAINT IF EXISTS company_settings_pkey;
ALTER TABLE IF EXISTS public.company_settings DROP CONSTRAINT IF EXISTS company_settings_key_not_blank_chk;
ALTER TABLE IF EXISTS public.company_settings DROP CONSTRAINT IF EXISTS company_settings_group_not_blank_chk;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_pkey;
ALTER TABLE IF EXISTS ONLY public.calendar_events DROP CONSTRAINT IF EXISTS calendar_events_pkey;
ALTER TABLE IF EXISTS ONLY public.activity_logs DROP CONSTRAINT IF EXISTS activity_logs_pkey;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.suppliers;
DROP TABLE IF EXISTS public.shift_plans;
DROP TABLE IF EXISTS public.schema_version;
DROP TABLE IF EXISTS public.sale_records;
DROP TABLE IF EXISTS public.purchase_suggestions;
DROP TABLE IF EXISTS public.products;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.incidents;
DROP TABLE IF EXISTS public.documents;
DROP TABLE IF EXISTS public.document_categories;
DROP TABLE IF EXISTS public.contacts;
DROP TABLE IF EXISTS public.company_settings;
DROP TABLE IF EXISTS public.companies;
DROP TABLE IF EXISTS public.calendar_events;
DROP TABLE IF EXISTS public.activity_logs;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: activity_logs; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.activity_logs (
    id bigint NOT NULL,
    action character varying(255) NOT NULL,
    actor_email character varying(255),
    actor_name character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    entity_type character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    actor_id bigint,
    company_id bigint NOT NULL
);


ALTER TABLE public.activity_logs OWNER TO mateo;

--
-- Name: activity_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.activity_logs ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.activity_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: calendar_events; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.calendar_events (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    event_date date NOT NULL,
    event_time time(6) without time zone,
    notes text,
    source character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.calendar_events OWNER TO mateo;

--
-- Name: calendar_events_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.calendar_events ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.calendar_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: companies; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.companies (
    id bigint NOT NULL,
    country character varying(2) NOT NULL,
    currency character varying(3) NOT NULL,
    name character varying(255) NOT NULL,
    subscription_tier character varying(255) NOT NULL,
    tax_id character varying(255),
    address_line character varying(255),
    business_email character varying(255),
    business_phone character varying(255),
    city character varying(255),
    latitude double precision,
    longitude double precision,
    opening_hours_json text,
    postal_code character varying(255),
    timezone character varying(255) DEFAULT 'Europe/Madrid'::character varying,
    CONSTRAINT companies_subscription_tier_check CHECK (((subscription_tier)::text = ANY ((ARRAY['FREE'::character varying, 'PREMIUM'::character varying])::text[])))
);


ALTER TABLE public.companies OWNER TO mateo;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.companies ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.companies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: company_settings; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.company_settings (
    id bigint NOT NULL,
    active boolean NOT NULL,
    display_order integer,
    setting_group character varying(255) NOT NULL,
    setting_key character varying(255) NOT NULL,
    label character varying(255),
    value character varying(255) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.company_settings OWNER TO mateo;

--
-- Name: company_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.company_settings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.company_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: contacts; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.contacts (
    id bigint NOT NULL,
    active boolean NOT NULL,
    avatar_url character varying(255),
    created_at timestamp(6) without time zone,
    department character varying(255),
    email character varying(255),
    full_name character varying(255) NOT NULL,
    join_date character varying(255),
    location character varying(255),
    notes text,
    phone character varying(255),
    progress integer NOT NULL,
    projects text,
    rating double precision,
    role character varying(255),
    updated_at timestamp(6) without time zone,
    company_id bigint NOT NULL
);


ALTER TABLE public.contacts OWNER TO mateo;

--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.contacts ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.contacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: document_categories; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.document_categories (
    id bigint NOT NULL,
    color character varying(255),
    name character varying(255) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.document_categories OWNER TO mateo;

--
-- Name: document_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.document_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.document_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: documents; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.documents (
    id bigint NOT NULL,
    category character varying(255),
    created_at timestamp(6) without time zone NOT NULL,
    doc_type character varying(20),
    file_size bigint,
    file_url text NOT NULL,
    mime_type character varying(255),
    name character varying(255) NOT NULL,
    company_id bigint NOT NULL,
    uploaded_by_id bigint
);


ALTER TABLE public.documents OWNER TO mateo;

--
-- Name: documents_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.documents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.documents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: incidents; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.incidents (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    description text,
    photo_url character varying(255),
    priority character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    title character varying(255) NOT NULL,
    company_id bigint NOT NULL,
    reported_by_id bigint,
    CONSTRAINT incidents_priority_check CHECK (((priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[]))),
    CONSTRAINT incidents_status_check CHECK (((status)::text = ANY ((ARRAY['OPEN'::character varying, 'IN_PROGRESS'::character varying, 'CLOSED'::character varying])::text[])))
);


ALTER TABLE public.incidents OWNER TO mateo;

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.incidents ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.incidents_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    body text,
    created_at timestamp(6) without time zone NOT NULL,
    read_at timestamp(6) without time zone,
    title character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.notifications OWNER TO mateo;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.notifications ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.products (
    id bigint NOT NULL,
    category character varying(255),
    current_stock numeric(10,3) NOT NULL,
    min_stock numeric(10,3) NOT NULL,
    name character varying(255) NOT NULL,
    price numeric(10,2),
    unit character varying(255) NOT NULL,
    vat_rate numeric(5,2),
    company_id bigint NOT NULL,
    CONSTRAINT products_unit_check CHECK (((unit)::text = ANY ((ARRAY['KG'::character varying, 'L'::character varying, 'UNIT'::character varying, 'BOX'::character varying])::text[])))
);


ALTER TABLE public.products OWNER TO mateo;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: purchase_suggestions; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.purchase_suggestions (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    expected_demand character varying(255) NOT NULL,
    item_name character varying(255) NOT NULL,
    recommendation character varying(255) NOT NULL,
    target_date date NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.purchase_suggestions OWNER TO mateo;

--
-- Name: purchase_suggestions_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.purchase_suggestions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.purchase_suggestions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: sale_records; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.sale_records (
    id bigint NOT NULL,
    channel character varying(255) NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    sale_date date NOT NULL,
    total numeric(12,2) NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.sale_records OWNER TO mateo;

--
-- Name: sale_records_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.sale_records ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.sale_records_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: schema_version; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.schema_version (
    id bigint NOT NULL,
    applied_at timestamp(6) with time zone NOT NULL,
    description character varying(255) NOT NULL,
    version character varying(255) NOT NULL
);


ALTER TABLE public.schema_version OWNER TO mateo;

--
-- Name: schema_version_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.schema_version ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.schema_version_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shift_plans; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.shift_plans (
    id bigint NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    notes text,
    shift_date date NOT NULL,
    shift_name character varying(255) NOT NULL,
    staff_required integer NOT NULL,
    company_id bigint NOT NULL
);


ALTER TABLE public.shift_plans OWNER TO mateo;

--
-- Name: shift_plans_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.shift_plans ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shift_plans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.suppliers (
    id bigint NOT NULL,
    active boolean NOT NULL,
    category character varying(255),
    contact_email character varying(255),
    contact_person character varying(255),
    contact_phone character varying(255),
    name character varying(255) NOT NULL,
    notes text,
    company_id bigint NOT NULL,
    supplier_type character varying(255) DEFAULT 'SUPPLIER'::character varying
);


ALTER TABLE public.suppliers OWNER TO mateo;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.suppliers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: mateo
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email character varying(255) NOT NULL,
    first_name character varying(255),
    last_name character varying(255),
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    company_id bigint NOT NULL,
    avatar_url character varying(255),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['OWNER'::character varying, 'MANAGER'::character varying, 'EMPLOYEE'::character varying, 'STAFF'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO mateo;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: mateo
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: activity_logs; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: calendar_events; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.calendar_events (id, created_at, event_date, event_time, notes, source, title, updated_at, company_id) FROM stdin;
3	2026-05-05 09:47:50.384261	2026-05-07	11:00:00	\N	MANUAL	faffafaf	2026-05-05 09:47:50.384261	1
5	2026-05-05 09:48:01.845333	2026-05-04	09:00:00	\N	MANUAL	ooooo	2026-05-05 10:25:13.036453	1
6	2026-05-05 10:25:17.569996	2026-05-05	09:00:00	\N	MANUAL	000	2026-05-05 10:25:17.569996	1
\.


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: company_settings; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: document_categories; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.document_categories (id, color, name, company_id) FROM stdin;
1	#4f6ef7	General	1
2	#4f6ef7	Imagenes	1
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.notifications (id, body, created_at, read_at, title, type, company_id) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.products (id, category, current_stock, min_stock, name, price, unit, vat_rate, company_id) FROM stdin;
6	idk	10.020	10.000	idk	\N	UNIT	10.00	1
1	Alimentacion	12.000	12.000	Tomate triturado lata	\N	UNIT	10.00	1
2	Alimentacion	8.000	8.000	Aceite de oliva virgen	\N	L	10.00	1
3	Bebidas	4.000	4.000	Cerveza barril 30L	\N	BOX	21.00	1
4	Limpieza	10.000	6.000	Detergente cocina	\N	UNIT	21.00	1
5	Envases	3.000	3.000	Servilletas 40x40	\N	BOX	21.00	1
7	\N	2.000	10.000	Patatas fritas	\N	UNIT	10.00	1
\.


--
-- Data for Name: purchase_suggestions; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: sale_records; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.sale_records (id, channel, created_at, sale_date, total, company_id) FROM stdin;
\.


--
-- Data for Name: schema_version; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Data for Name: shift_plans; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.shift_plans (id, created_at, notes, shift_date, shift_name, staff_required, company_id) FROM stdin;
\.


--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: mateo
--

COPY public.suppliers (id, active, category, contact_email, contact_person, contact_phone, name, notes, company_id, supplier_type) FROM stdin;
1	t	Bebidas	compras@laterrazademo.local	\N	+34900000111	Distribuciones Iberica	\N	1	SUPPLIER
3	t	Limpieza	compras@laterrazademo.local	\N	+34900000111	Limpieza Hosteleria Plus	fadasdas	1	SUPPLIER
4	t	congelados	\N	idk	\N	atlanta	\N	1	SUPPLIER
5	t	proveedor	\N	\N	\N	Contacto	\N	1	CONTACT
6	t	\N	\N	Contacto	\N	heinz	asdasda	1	SUPPLIER
2	t	Alimentacion	compras@laterrazademo.local	\N	+34900000111	Mercado Fresco SL	wachin	1	SUPPLIER
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: mateo
--



--
-- Name: activity_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.activity_logs_id_seq', 15, true);


--
-- Name: calendar_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.calendar_events_id_seq', 6, true);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.companies_id_seq', 3, true);


--
-- Name: company_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.company_settings_id_seq', 39, true);


--
-- Name: contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.contacts_id_seq', 13, true);


--
-- Name: document_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.document_categories_id_seq', 2, true);


--
-- Name: documents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.documents_id_seq', 6, true);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.incidents_id_seq', 5, true);


--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.products_id_seq', 7, true);


--
-- Name: purchase_suggestions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.purchase_suggestions_id_seq', 1099, true);


--
-- Name: sale_records_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.sale_records_id_seq', 1, false);


--
-- Name: schema_version_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.schema_version_id_seq', 10, true);


--
-- Name: shift_plans_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.shift_plans_id_seq', 1, false);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 6, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: mateo
--

SELECT pg_catalog.setval('public.users_id_seq', 16, true);


--
-- Name: activity_logs activity_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT activity_logs_pkey PRIMARY KEY (id);


--
-- Name: calendar_events calendar_events_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT calendar_events_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: company_settings company_settings_group_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.company_settings
    ADD CONSTRAINT company_settings_group_not_blank_chk CHECK ((length(TRIM(BOTH FROM setting_group)) > 0)) NOT VALID;


--
-- Name: company_settings company_settings_key_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.company_settings
    ADD CONSTRAINT company_settings_key_not_blank_chk CHECK ((length(TRIM(BOTH FROM setting_key)) > 0)) NOT VALID;


--
-- Name: company_settings company_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.company_settings
    ADD CONSTRAINT company_settings_pkey PRIMARY KEY (id);


--
-- Name: company_settings company_settings_value_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.company_settings
    ADD CONSTRAINT company_settings_value_not_blank_chk CHECK ((length(TRIM(BOTH FROM value)) > 0)) NOT VALID;


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: document_categories document_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT document_categories_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_title_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.incidents
    ADD CONSTRAINT incidents_title_not_blank_chk CHECK ((length(TRIM(BOTH FROM title)) > 0)) NOT VALID;


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: products products_current_stock_non_negative_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.products
    ADD CONSTRAINT products_current_stock_non_negative_chk CHECK ((current_stock >= (0)::numeric)) NOT VALID;


--
-- Name: products products_min_stock_non_negative_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.products
    ADD CONSTRAINT products_min_stock_non_negative_chk CHECK ((min_stock >= (0)::numeric)) NOT VALID;


--
-- Name: products products_name_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.products
    ADD CONSTRAINT products_name_not_blank_chk CHECK ((length(TRIM(BOTH FROM name)) > 0)) NOT VALID;


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_vat_rate_range_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.products
    ADD CONSTRAINT products_vat_rate_range_chk CHECK (((vat_rate >= (0)::numeric) AND (vat_rate <= (100)::numeric))) NOT VALID;


--
-- Name: purchase_suggestions purchase_suggestions_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.purchase_suggestions
    ADD CONSTRAINT purchase_suggestions_pkey PRIMARY KEY (id);


--
-- Name: sale_records sale_records_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.sale_records
    ADD CONSTRAINT sale_records_pkey PRIMARY KEY (id);


--
-- Name: schema_version schema_version_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.schema_version
    ADD CONSTRAINT schema_version_pkey PRIMARY KEY (id);


--
-- Name: shift_plans shift_plans_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.shift_plans
    ADD CONSTRAINT shift_plans_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_name_not_blank_chk; Type: CHECK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE public.suppliers
    ADD CONSTRAINT suppliers_name_not_blank_chk CHECK ((length(TRIM(BOTH FROM name)) > 0)) NOT VALID;


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: company_settings uk21h2kjvisxxbkpk5bjy396xoo; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.company_settings
    ADD CONSTRAINT uk21h2kjvisxxbkpk5bjy396xoo UNIQUE (company_id, setting_key);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: document_categories ukery0exkt8cgp83ldywdp8ebw2; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT ukery0exkt8cgp83ldywdp8ebw2 UNIQUE (company_id, name);


--
-- Name: schema_version ukrd59ove3mplwids8njm5f17be; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.schema_version
    ADD CONSTRAINT ukrd59ove3mplwids8njm5f17be UNIQUE (version);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_calendar_events_company_created_at; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_calendar_events_company_created_at ON public.calendar_events USING btree (company_id, created_at DESC);


--
-- Name: idx_calendar_events_company_date; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_calendar_events_company_date ON public.calendar_events USING btree (company_id, event_date);


--
-- Name: idx_company_settings_company_active; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_company_settings_company_active ON public.company_settings USING btree (company_id, active);


--
-- Name: idx_company_settings_company_group_active; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_company_settings_company_group_active ON public.company_settings USING btree (company_id, setting_group, active);


--
-- Name: idx_contacts_company_active; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_contacts_company_active ON public.contacts USING btree (company_id, active);


--
-- Name: idx_contacts_company_created_at; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_contacts_company_created_at ON public.contacts USING btree (company_id, created_at DESC);


--
-- Name: idx_incidents_company_created_at; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_incidents_company_created_at ON public.incidents USING btree (company_id, created_at DESC);


--
-- Name: idx_incidents_company_status_created_at; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_incidents_company_status_created_at ON public.incidents USING btree (company_id, status, created_at DESC);


--
-- Name: idx_incidents_title_lower; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_incidents_title_lower ON public.incidents USING btree (company_id, lower((title)::text));


--
-- Name: idx_notifications_company_created; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_notifications_company_created ON public.notifications USING btree (company_id, created_at DESC);


--
-- Name: idx_notifications_company_unread; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_notifications_company_unread ON public.notifications USING btree (company_id, read_at) WHERE (read_at IS NULL);


--
-- Name: idx_products_company_id; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_products_company_id ON public.products USING btree (company_id);


--
-- Name: idx_products_company_name; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_products_company_name ON public.products USING btree (company_id, name);


--
-- Name: idx_products_name_lower; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_products_name_lower ON public.products USING btree (company_id, lower((name)::text));


--
-- Name: idx_purchase_suggestions_company_date; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_purchase_suggestions_company_date ON public.purchase_suggestions USING btree (company_id, target_date);


--
-- Name: idx_sale_records_company_date; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_sale_records_company_date ON public.sale_records USING btree (company_id, sale_date);


--
-- Name: idx_shift_plans_company_date; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_shift_plans_company_date ON public.shift_plans USING btree (company_id, shift_date);


--
-- Name: idx_suppliers_company_active; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_suppliers_company_active ON public.suppliers USING btree (company_id, active);


--
-- Name: idx_suppliers_company_category_active; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_suppliers_company_category_active ON public.suppliers USING btree (company_id, category, active);


--
-- Name: idx_suppliers_name_lower; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_suppliers_name_lower ON public.suppliers USING btree (company_id, lower((name)::text));


--
-- Name: idx_users_company_role; Type: INDEX; Schema: public; Owner: mateo
--

CREATE INDEX idx_users_company_role ON public.users USING btree (company_id, role);


--
-- Name: document_categories fk29il35gjapinocv24cw9xs8lj; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.document_categories
    ADD CONSTRAINT fk29il35gjapinocv24cw9xs8lj FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: documents fk3enb6iofyq9m6e3otajm17vel; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fk3enb6iofyq9m6e3otajm17vel FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: notifications fk4jibwyyblv04ovaf0uhcg2xe4; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT fk4jibwyyblv04ovaf0uhcg2xe4 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: incidents fk4yg8cj6n459l7y3hcenmqu9sj; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT fk4yg8cj6n459l7y3hcenmqu9sj FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: contacts fk5nvk2pja04n1pbiyk1xn7739l; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT fk5nvk2pja04n1pbiyk1xn7739l FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: activity_logs fk5wnh8r1e5ffup2wu2shpwywak; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fk5wnh8r1e5ffup2wu2shpwywak FOREIGN KEY (actor_id) REFERENCES public.users(id);


--
-- Name: shift_plans fk8ih3xp4nejkox6yoellt7r8up; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.shift_plans
    ADD CONSTRAINT fk8ih3xp4nejkox6yoellt7r8up FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: documents fka8xyugvg1b1gjr07r5057pn5; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT fka8xyugvg1b1gjr07r5057pn5 FOREIGN KEY (uploaded_by_id) REFERENCES public.users(id);


--
-- Name: activity_logs fkb22evag9rd2sg204x5qedb4bs; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.activity_logs
    ADD CONSTRAINT fkb22evag9rd2sg204x5qedb4bs FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: incidents fket0or2pvrcs3b7994pstmgyiq; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT fket0or2pvrcs3b7994pstmgyiq FOREIGN KEY (reported_by_id) REFERENCES public.users(id);


--
-- Name: purchase_suggestions fkfs1sh8uwavevsm5hhasqjydk2; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.purchase_suggestions
    ADD CONSTRAINT fkfs1sh8uwavevsm5hhasqjydk2 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: calendar_events fkhj1oaewpv0ejm9xmcjk1tdse; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.calendar_events
    ADD CONSTRAINT fkhj1oaewpv0ejm9xmcjk1tdse FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: users fkin8gn4o1hpiwe6qe4ey7ykwq7; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fkin8gn4o1hpiwe6qe4ey7ykwq7 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: company_settings fkmooaravxwx9tubb173apgo343; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.company_settings
    ADD CONSTRAINT fkmooaravxwx9tubb173apgo343 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: sale_records fkoxm64inlj7dqv9qt0km8qm079; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.sale_records
    ADD CONSTRAINT fkoxm64inlj7dqv9qt0km8qm079 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: products fkr67nkbovcmogr3o5xkmfepgl1; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT fkr67nkbovcmogr3o5xkmfepgl1 FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: suppliers fksh0gkhht4jenmvxp5io5gr1we; Type: FK CONSTRAINT; Schema: public; Owner: mateo
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT fksh0gkhht4jenmvxp5io5gr1we FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- PostgreSQL database dump complete
--

\unrestrict wM0kVo3Godp6suW4NVGUpeSm0yrHJNowHzfOD12gcZDvdU9hHQxVYl5wKFIP5cu

